*,*::before,*::after{box-sizing:border-box;margin:0;padding:0}
html{scroll-behavior:smooth}
body{font-family:'Inter',sans-serif;font-weight:400;color:var(--tx);background:var(--wh);overflow-x:hidden}
img{display:block;max-width:100%}
a{text-decoration:none;color:inherit}
